$wh-color: #ffffff;
$bl-color: #000000;
$pm-color: #fea116;
$dk-color: #222f3e;
$lg-color: #48dbfb;
$pp-color: #666565;
$bx-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$fn-family: "Dancing Script", cursive;
